#bannarPart{
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0;
}

#aboutPart{
    background: url(../images/aboutPart.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}

#categoriesPart{
    background: url(../images/Categories\ Part.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0;
}

.offerBanner {
    background-image: url("../images/offer banner.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

/* Tablet */
@media (max-width: 768px) {
    .offerBanner {
        width: 92%;
        padding: 40px 25px;
        border-radius: 35px;
        background-position: center;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .offerBanner {
        width: 94%;
        padding: 30px 20px;
        border-radius: 25px;
        background-position: center;
    }
}

#customerTestimonials{
    background: url(../images/customerTestimonials.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 170px 0;
}

#meetOurTeam{
    background: url(../images/customerTestimonials.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 0;
}

#contactPart{
    background: url(../images/contactPart.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 90px 0;
}

.prev{
    font-size: 50px;
    z-index: 999;
    position : absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #c6964f;
}

.next{
    font-size: 50px;
    position : absolute;
    top: 50%;
    right: 0;
    color: #c6964f;
    transform: translateY(-50%);

}